{% extends 'base.html' %}
{% load static %}

{% block title %}{{ profile.user.username }} on Nexolotl{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
  {% include 'profiles/partials/_hero.html' %}

  {# Future profile sections (interests widget, etc.): add a partial and include it here #}

  {% include 'profiles/partials/_friends.html' %}

  <!-- TESTIMONIALS -->
  <section class="nx-card">
    {% include "testimonials/testimonial_list.html" %}
  </section>

  {% if request.user.is_authenticated and request.user != profile.user %}
    <section class="nx-card">
      {% include "testimonials/testimonial_form.html" %}
    </section>
  {% endif %}
{% endblock %}
