{% extends 'base.html' %}
{% load static %}

{% block title %}{{ profile.user.username }} on Nexolotl{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}?v=9">
  <link rel="stylesheet" href="{% static 'css/interests.css' %}?v=4">
{% endblock %}

{% block content %}
  {% include 'profiles/partials/_hero.html' %}

  {% include 'profiles/partials/_streaks_badges.html' %}

  {% include 'profiles/partials/_interests.html' %}

  {% include 'profiles/_visits.html' %}

  {# Future profile sections: add a partial and include it here #}

  {% include 'profiles/partials/_friends.html' %}

  <!-- TESTIMONIALS -->
  <section class="nx-card">
    {% include "testimonials/testimonial_list.html" %}
  </section>

  {% if request.user.is_authenticated and request.user != profile.user %}
    <section class="nx-card">
      {% include "testimonials/testimonial_form.html" %}
    </section>
  {% endif %}
{% endblock %}
