{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Nexolotl{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/tokens.css' %}">
    <link rel="stylesheet" href="{% static 'css/nexolotl.css' %}">

    {% block extra_head %}{% endblock %}
</head>

<body>

    {% include 'partials/_navbar.html' %}

    {% block content %}{% endblock %}

</body>
</html>